<ion-header>
  <ion-navbar>
    <ion-title>
      Users Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let i of listname" class="listname">
      {{i.username}}  {{i.points}} {{i.removable}}
      <button class="element" id="button" ion-button (click)="remove(i)" *ngIf="(i.removable)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-card>
  </ion-list>

  <div>POINT RULES : SONG_PROPOSED =3, SONG_PASSED = 20, GET_VOTE = 2, DO_VOTE = 1</div>

</ion-content>
