<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src='img/KTD.gif' alt="logo ktd">

  <div class="status">
    <div *ngIf="!posts" color="important">
     Join the party !
    </div>
    <div *ngIf="posts" color="important">
      Create a session !
    </div>
  </div>

  <form [formGroup]="startForm" (ngSubmit)="startForm.valid && sendForm()" novalidate>
    <ion-item>
      <ion-label color="primary" floating>
        Enter your name
      </ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>
        Enter Address of the server
      </ion-label>
      <ion-input formControlName="backendUrl"></ion-input>
    </ion-item>

    <ion-footer align-title="left" class="bar-assertive">
      <div *ngIf="!posts">
        <button ion-button type="submit">
          Go !&nbsp;<ion-icon name="headset"></ion-icon>
        </button>
      </div>
      <div *ngIf="posts">
        <button ion-button color="form" type="submit">
          Settings&nbsp;<ion-icon name="settings"></ion-icon>
        </button>
      </div>
      <button (click)="goPreset(username)">preset</button>
    </ion-footer>
  </form>
</ion-content>
