<ion-header>
  <ion-navbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Session created : {{active_session}}

  <br>
  <br>
  <br>

  <form [formGroup]="presetForm" (ngSubmit)="presetForm.valid && sendForm()" novalidate>
    <ion-item>
      <ion-label color="primary" floating>
        Your name
      </ion-label>
      <ion-input formControlName="session_name"></ion-input>
    </ion-item>
<!--    <button ion-button type="submit" block>Launch Party</button>-->
    <div *ngIf="posts">
      <button ion-button type="submit">Go to menu</button>
      La session est active
    </div>
    <div *ngIf="!posts">
      <button ion-button type="submit">Go to preset</button>
      La session n'est pas active
    </div>
  </form>

  <br>
  <br>
  <br>

  <button (click)="switchActive()">switch</button>

</ion-content>
