.header {
  position: fixed;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #2afd8c;
  background-color: #36033b;
  padding: 7px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.header__title {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
}

.content {
  margin-top: 45px;
  margin-bottom: 45px;
}
