// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{
  background: color($colors, primary);
}

.toolbar-title{
  text-align: center;
  color : color($colors, blanc);
}

ion-header{
  border: color($colors, blanc);
  border-style: solid;
  border-width: 7px;
}

.content{
  background: color($colors, secondary);
}

form{
  background: color($colors, secondary);
}
button{
  color : color($colors, important);
  background : color($colors, blanc);
}
button:hover {
  color : color($colors, blanc);
  background : color($colors, primary);
}
.item-block{
  background: color($colors, secondary);
}

.bar-button-default-md
{
  color : color($colors, blanc)
}
